/node_modules
/build
/coverage
/public/hot
/public/storage
/src/ui_tests/__snapshots__
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
