body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.crudActions {
    display: flex;
    justify-content: space-between;
}

.flashMsg {
    border-radius: 2px;
    cursor: pointer;
    padding: 20px;
    position: fixed;
    margin: 20px;
    top: 0;
    width: calc(100% - 40px);
}

.flashMsg.error {
    background: #F2DEDE;
    border: #EED3D6 solid 1px;
    color: #A94442;
}

.flashMsg.success {
    background: #DFF0D8;
    border: #D9ECCD solid 1px;
    color: #3C7642;
}